@model SevenProTask.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Регистрация нового пользователя</h2>
<div class="col-2">
    <form method="post" asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label><br />
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserName" class="control-label"></label><br />
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserLastName" class="control-label"></label><br />
            <input asp-for="UserLastName" class="form-control" />
            <span asp-validation-for="UserLastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label><br />
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PasswordConfirm" class="control-label"></label><br />
            <input asp-for="PasswordConfirm" class="form-control" />
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>
        <div class="form-group">
            <br></br>
            <input type="submit" value="Регистрация" class="btn btn-primary"/>
        </div>
    </form>
</div>